# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp files written by the runner
snyk_jira_cfg_*.json
